@media(max-width:991px){
    .show{
        display: block;
        margin-right: 10%;
       }
    
       .hide{
        display: none;
       }

       .ul {
        left: 0px;
        top: 50px;
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        background-color: black;
        justify-content: center;
        margin: 0px;
        border-radius: 10px;
        text-align: center;
       padding-bottom: 20px;
       line-height: 60px;
       display: none;
       }

       .nav-links1{
        text-align: center;
        width: 100%;
        color: white;
       }
       .p1{
        width:40%;
       }
}

@media(max-width:767px){
    .p1{
        width:100%;
    }

    .con-l{
        width: 90%;
    }
}